body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.s-page-1, .s-section-1, .s-section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.s-section {
    background-color: #000; /* Optional: To ensure background color */
}
